<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>SensyColor!</title>
	    <link rel="stylesheet" href="{{ url_for('static', path= 'css/css_v2.css') }}">
        <link rel="icon" href="{{ url_for('static', path= 'images/couleur_fond.png') }}">
        <meta charset=”utf-8″>
    </head>


    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        
            <div class="anim">
                <a href="html_connexion.html">
                    <div class="lettre">S</div>
                </a>
                <a href="html_connexion.html">    
                    <div class="lettre">e</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">n</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">s</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">y</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">C</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">o</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">l</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">o</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">r</div>
                </a>
                <a href="html_connexion.html">
                    <div class="lettre">!</div>
                </a>
            </div>
        
    </body>
</html>