<!DOCTYPE html>
<html>
    <head>
        <title>Palette</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> <!--icon menu (maison), deconnexion, capteur etc-->
    	<link rel="stylesheet" href="{{ url_for('static', path= 'css/css_v2.css') }}">
    	<link rel="icon" href="{{ url_for('static', path= 'images/couleur_fond.png') }}">
    </head>

    <body>

        <br>
        <br>

        <p>{{nomBouton}}</p>

        <br>
        <br>
        <br>
        <br>

        {% for coul in couleur %}
			<div class = "couleur">
				<img src="{{coul[2]}}" alt="couleur image" title="{{coul[1]}} : {{coul[0]}}">
				
			</div>
	    {% endfor %}


        <br>
        <br>
        <br>
        <br>
        
    </body>
</html>