<!DOCTYPE html>
<html>
    <head>
        <title> Nouvelle palette</title>
        <link rel="stylesheet" href="{{ url_for('static', path= 'css/css_v2.css') }}">
        <link rel="icon" href="{{ url_for('static', path= 'images/couleur_fond.png') }}">
    </head>

    <body>


	<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
<center>
    <div>
        <p>N'oubliez pas d'acutaliser la page pour voir votre nouvelle palette apres avoir quitter !</p>
    </div>
    <br>
    <br>
    <br>

    <div> <button onclick="closePopup()"> quitter </button></div>
    <script>
        function closePopup() {			
            window.close();
        }
    </script>
</center>
	</body>

	</html>